.idea
.gradle
.ds_store

build

tilleggsstonader-*

/tilleggsstonader-arena/
/tilleggsstonader-integrasjoner/
/tilleggsstonader-libs/
/tilleggsstonader-kontrakter/
/tilleggsstonader-sak/
/tilleggsstonader-sak-frontend/
/tilleggsstonader-slackbot/
/tilleggsstonader-soknad/
/tilleggsstonader-soknad-api/
/tilleggsstonader-brev-sanity/
/tilleggsstonader-htmlify/
/tilleggsstonader-klage/
/tilleggsstonader-docs/
/tilleggsstonader-version-catalog/
