.idea
.gradle

build

tilleggsstonader-*

/tilleggsstonader-arena/
/tilleggsstonader-integrasjoner/
/tilleggsstonader-libs/
/tilleggsstonader-kontrakter/
/tilleggsstonader-sak/
/tilleggsstonader-sak-frontend/
/tilleggsstonader-slackbot/
/tilleggsstonader-soknad/
/tilleggsstonader-soknad-api/
/tilleggsstonader-brev-sanity/
