name: Bygg app og kjør tester

on:
  workflow_call:
    inputs: { }

jobs:
  build:
    name: Bygg, lint og kjør tester
    runs-on: ubuntu-latest
    concurrency: ${{ github.workflow }}-${{ github.ref }}
    timeout-minutes: 10

    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0 # brukes for å unngå feil i differ i sonar

      - name: Sett opp JDK21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Sett opp Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Kjør ktlint
        run: ./gradlew spotlessCheck

      - name: Bygg og kjør tester
        run: ./gradlew build -PskipLint