name: Bygg og deploy app til angitt miljø

# ------------------------------------------------------------
# Denne workflowen bygger en Java-applikasjon, pusher docker-image til GAR og
# deployerer det hele til et spesifisert cluster, ut i fra et gitt tilhørende Nais-manifest.
#
# ** Denne jobben hopper over testing og linting **
#
# Det er påkrevd at kallende GitHub Actions-jobb setter følgende rettigheter:
#
# permissions:
#  contents: write         # Kreves av nais/login
#  id-token: write         # Kreves for å skrive sårbarhetsanalyse-rapport
#  security-events: write  # Kreves for å pushe resultat av sårbarhetsanalyse til Github Security

# ------------------------------------------------------------

on:
  workflow_call:
    inputs:
      cluster:
        description: 'Cluster det skal deployes til'
        required: true
        type: string
      manifest:
        description: 'Sti til Nais-manifestet'
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    name: "Bygg, test og push docker-image"
    runs-on: ubuntu-latest
    timeout-minutes: 8
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
      digest: ${{ steps.docker-push.outputs.digest }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - uses: gradle/actions/setup-gradle@v5

      - name: "Kjør tester"
        run: ./gradlew test -PskipLint

      - name: "Bygg applikasjonen"
        run: ./gradlew bootJar -PskipLint

      - name: "Push image til GAR"
        uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: tilleggsstonader
          salsa: false

  salsa:
    name: "Attester og signer SBOM"
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
    steps:
      - uses: navikt/tilleggsstonader/.github/actions/attest-sign@main
        with:
          digest: ${{ needs.build.outputs.digest }}

  deploy:
    name: "Deploy til ${{ inputs.cluster }}"
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - uses: actions/checkout@v6

      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: ${{ inputs.manifest }}
          IMAGE: ${{ needs.build.outputs.image }}

      - name: Post prod deploy failures to Slack
        if: failure() && contains(inputs.cluster, 'prod')
        run: |
          curl -X POST --data "{\"text\": \"Deploy av $GITHUB_REPOSITORY til prod feilet ($GITHUB_ACTOR)\n $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"}" $WEBHOOK_URL
        env:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_ACTOR: ${{ github.actor }}