name: Deploy BigQuery Resources

on:
  push:
    branches:
      - 'main'
    paths:
      - '.nais/metabase-views/**'
      - '.github/workflows/deploy-bigquery-resources.yml'
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  deploy-bigquery-resources-dev:
    uses: ./.github/workflows/deploy-bigquery-resources.yml
    secrets: inherit
    with:
      cluster: dev-gcp
      project: tilleggsstonader-dev-371d

  deploy-bigquery-resources-prod:
    uses: ./.github/workflows/deploy-bigquery-resources.yml
    secrets: inherit
    with:
      cluster: prod-gcp
      project: tilleggsstonader-prod-58d8
