name: Kjør Playwright-tester

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node-versjon'
        type: string
        required: false
        default: '18'

jobs:
  playwright:
    name: Kjører Playwright-tester
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: yarn
          registry-url: "https://npm.pkg.github.com"
      - name: Installer avhengigheter
        run: yarn ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Get Playwright version
        run: |
          PLAYWRIGHT_VERSION=$(yarn list --depth=0 --pattern @playwright/test | grep -m 1 @playwright | sed 's/.*@//')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV
      - name: Cache playwright browsers
        id: cache-playwright-browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}
      - name: Install Playwright Browsers
        if: ${{ (steps.cache-playwright-browsers.outputs.cache-hit != 'true' )}}
        run: yarn playwright install chromium --with-deps
      - name: Kjør Playwright-tester
        env:
          CI: true # settes sånn at CI ikke kjører tester parallell
        run: yarn playwright test
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
          if-no-files-found: ignore